.rh2{
    padding: 2%;
}

.post-recipe-form {
    display: flex;
    padding: 2%;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
    height: 65vh;
    overflow: auto;
}

  
  .post-recipe-form form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-recipe-form .form-group {
    margin-bottom: 20px;
  }
  
  .post-recipe-form label {
    display: block;
    font-weight: bold;
  }
  
  .post-recipe-form input[type="text"],
  .post-recipe-form input[type="file"],
  .post-recipe-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .post-recipe-form textarea {
    height: 100px;
  }
  
  .post-recipe-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-recipe-form button:hover {
    background-color: #0056b3;
  }
  