.recipe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin: 0 auto;
    height: 70vh;
    background-color: #fff;
    margin-top: 50px;
}

.recipe-header {
    padding: 20px;
    text-align: center;
}

.recipe-title {
    margin-top: 0;
}

.recipe-image {
    display: block;
    margin: auto;
    border-radius: 8px;
}

.recipe-content {
    padding: 20px;
}

.recipe-section {
    margin-bottom: 20px;
}

.recipe-section h3 {
    margin-top: 0;
}

.recipe-section ul,
.recipe-section ol {
    margin-top: 0;
    padding-left: 20px;
}

.recipe-section li {
    margin-bottom: 5px;
}
