.Card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px #0000001a;
    margin: 0 auto;
    width: 300px;
    cursor: pointer;
    background-color: #fff;
    transition-property: all;
    transition-duration: 200ms;
}

.Card:hover{
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);;
}

.im150{
    width: 300px;
    height: 300px;
}

.recContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 65vh;
    overflow: auto;
    align-items: center;
    padding: 1%;
    justify-content: space-evenly;
}

.Card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ccc;
}

.details {
    padding: 15px;
}

.title {
    font-size: 1.5em;
    margin-top: 0;
}

.calories {
    color: #888;
    margin-bottom: 5px;
}

.description {
    font-size: 0.9em;
    color: #333;
    margin-top: 0;
}
