.sidebar{
    background-color: rgb(198, 238, 193);
    height: 90vh;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    padding: 25px 40px 0px 15px;
    box-shadow: 1px 0px 8px black;
}

.topEle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}

.singleElement{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
    transition-property: all;
    transition-duration: 200ms;
}

.singleElement:hover{
    font-size: 20px;
    cursor: pointer;
}